.about__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 250px;
  padding-right: 20px;
  margin-bottom: 120px;
  position: relative;

  @include vp-1023 {
    min-width: 674px;
    padding-left: 225px;
    margin-bottom: 75px;
  }

  @include vp-767 {
    min-width: 270px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 80px;
  }
}

.about__year-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 320px;
  height: 150px;
  left: -70px;
  top: 80px;
  font-family: $ff-roboto-condensed;
  font-size: 156.25px;
  font-weight: 700;
  background-image: url("../img/images/about-year-background.jpg");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(270deg);

  @include vp-1023 {
    top: 85px;
    left: -22px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__content-wrapper h2 {
  font-family: $ff-roboto-condensed;
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.about__content-wrapper p {
  margin-top: 0;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }

    .mobile-width-hidden {
      display: none;
    }
  }
}

.about__button {
  box-sizing: border-box;
  margin-top: 15px;
  max-width: 180px;
  min-height: 45px;
  padding: 15px 50px;
  border: 1px solid $color-default-blue;
  border-radius: 3px;
  background-color: transparent;
  color: $color-default-blue;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

  @include hover {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include hover-focus {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: -10px;
    min-height: 35px;
    padding: 0 40px;
  }
}
