.about__wrapper {
  width: 1220px;
  margin: 0 auto;
  padding-left: 220px;
  margin-bottom: 100px;
  position: relative;

  @include vp-1919 {
    width: 674px;
    padding-left: 157px;
    margin-bottom: 80px;
    margin-top: 90px;
  }

  @include vp-769 {
    width: 270px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

.about__year-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 320px;
  height: 150px;
  left: -100px;
  top: 50px;
  font-family: $ff-roboto-condensed;
  font-size: 156.25px;
  font-weight: 700;
  background-image: url("../img/images/about-year-background.jpg");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(270deg);

  @include vp-1919 {
    top: 80px;
    left: -90px;
  }

  @include vp-769 {
    display: none;
  }
}

.about__content-wrapper h2 {
  margin: 0;
  margin-bottom: 15px;

  @include vp-769 {
    font-size: 28px;
    margin-bottom: 5px;
  }
}

.about__content-wrapper p {
  margin-top: 0;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  @include vp-769 {
    font-size: 14px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .mobile-width-hidden {
      display: none;
    }
  }
}

.about__button {
  margin-top: 42px;
  width: 180px;
  height: 45px;
  border: 1px solid $color-default-blue;
  border-radius: 3px;
  background-color: transparent;
  color: $color-default-blue;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  @include hover {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include hover-focus {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include vp-1919 {
    margin-top: 20px;
  }

  @include vp-769 {
    width: 160px;
  }
}
