.accordion {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @include vp-769 {
    flex-direction: column;
  }

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    margin-bottom: 34px;
    padding: 10px;

    @include vp-769 {
      padding: 0;
      margin: 0;
    }
  }

  &__element.is-active > &__button {
    opacity: 0.5;
  }

  &__element.is-active > &__button::before {
    display: none;
  }

  &__button {
    cursor: default;
    box-sizing: border-box;

    @include vp-769 {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    @include vp-769 {
      padding-left: 25px;
      padding-bottom: 20px;
    }
  }
}
