.advantages__wrapper {
  margin-top: 120px;
  margin-bottom: 110px;
  width: 100%;
  padding-left: 350px;
  padding-right: 350px;

  @include vp-1919 {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include vp-769 {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  max-width: 1222px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0 auto;

  @include vp-1919 {
    max-width: 670px;
  }

  @include vp-769 {
    max-width: 270px;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
