.btn {
  display: inline-flex;
  padding: 15px 25px;
  font-family: $ff-roboto-condensed;
  font-size: $fz-default;
  letter-spacing: 0.05em;
  font-weight: 700;

  color: $color-default-white;

  background-color: $color-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
