.contacts {
  font-style: normal;
  flex-direction: column;
  position: relative;

  @include vp-1023 {
    margin-left: 110px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 310px;

  @include vp-1023 {
    max-width: 320px;
  }
}

.contacts__list li {
  line-height: 1.3;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  @include vp-1023 {
    line-height: 1.3;
  }
}

.contacts__list span {
  display: block;
  color: $color-white-opacity;

  @include vp-767 {
    margin-bottom: 15px;
  }
}
