.feedback__form fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  width: 580px;
  padding: 0;

  @include vp-1919 {
    width: 670px;
    margin: 0 auto;
  }

  @include vp-769 {
    width: 270px;
  }
}

.feedback__title,
.feedback__subtitle {
  color: $color-additional-white;
  display: block;
  width: 100%;
}

.feedback__title {
  margin-bottom: 15px;

  @include vp-1919 {
    margin-bottom: 5px;
  }

  @include vp-769 {
    font-size: 30px;
    line-height: 42.18px;
    margin-bottom: 0;
  }
}

.feedback__subtitle {
  margin-bottom: 35px;

  @include vp-1919 {
    margin-bottom: 20px;
  }

  @include vp-769 {
    width: 205px;
    font-size: 14px;
  }
}

.feedback__form input,
.feedback__form textarea {
  background-color: rgba($color: #041427, $alpha: 0.15);
  border: none;
  border-radius: 3px;
  color: $color-default-dark;
}

.feedback__form input::-moz-placeholder,
.feedback__form textarea::-moz-placeholder {
  color: $color-additional-white;
}

.feedback__form input::-webkit-input-placeholder,
.feedback__form textarea::-webkit-input-placeholder {
  color: $color-additional-white;
}

.feedback__form input[name="имя"],
.feedback__form input[name="телефон"] {
  width: 275px;
  height: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 15px 15px;

  @include vp-1919 {
    width: 320px;
  }

  @include vp-769 {
    width: 270px;
  }
}

.feedback__form input[name="имя"] {
  margin-right: 30px;

  @include vp-769 {
    margin-right: 0;
  }
}

.feedback__form textarea {
  width: 580px;
  height: 155px;
  box-sizing: border-box;
  padding: 25px 15px;

  @include vp-1919 {
    width: 670px;
  }

  @include vp-769 {
    width: 270px;
    height: 180px;
  }
}

.feedback__form-submit {
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  @include vp-1919 {
    justify-content: center;
    padding-right: 100px;
  }

  @include vp-769 {
    padding-right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.feedback__submit-button {
  width: 265px;
  height: 45px;
  background-color: $color-form-submit-button;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-right: 50px;

  @include vp-1919 {
    margin-right: 85px;
  }

  @include vp-769 {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.feedback__checkbox {
  position: relative;
}

.feedback__checkbox input {
  top: 60%;
  left: 4%;
}

.feedback__checkbox label {
  color: $color-additional-white;
  font-size: 14px;
  display: block;
  padding-left: 26px;
  cursor: pointer;
  line-height: 15px;

  @include hover {
    color: $color-form-submit-button;
  }
}

.feedback__checkbox label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px $color-additional-white inset;
  left: 0;
  top: 25%;
}

.feedback__checkbox label:hover::after {
  box-shadow: 0 0 0 1px $color-form-submit-button inset;
}

.feedback__checkbox input:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/sprite/checked.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  left: 0;
  bottom: 30%;
  left: 1.4%;
}
