.form-wrapper {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;

  @include vp-1023 {
    margin: 0 auto;
    padding-left: 0;
  }
}

.form-wrapper h4,
.form-wrapper span {
  color: $color-additional-white;
  display: block;
  width: 100%;
}

.form-wrapper h4 {
  font-family: $ff-roboto-condensed;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 8px;
  }
}

.form-wrapper span {
  margin-bottom: 37px;

  @include vp-1023 {
    margin-bottom: 28px;
  }

  @include vp-767 {
    width: 205px;
    font-size: 14px;
    margin-bottom: 34px;
  }
}

.form-wrapper input,
.form-wrapper textarea {
  background-color: rgba($color: #041427, $alpha: 0.15);
  border: none;
  border-radius: 3px;
  color: $color-default-dark;
}

.form-wrapper input::-moz-placeholder,
.form-wrapper textarea::-moz-placeholder {
  color: $color-additional-white;
}

.form-wrapper input::-webkit-input-placeholder,
.form-wrapper textarea::-webkit-input-placeholder {
  color: $color-additional-white;
}

.form-wrapper input[name="name"],
.form-wrapper input[name="phone"] {
  min-width: 270px;
  width: 275px;
  height: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 15px 15px;

  @include vp-1023 {
    width: 320px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.form-wrapper input[name="name"] {
  margin-right: 30px;

  @include vp-767 {
    margin-right: 0;
  }
}

.form-wrapper textarea {
  min-width: 580px;
  height: 155px;
  box-sizing: border-box;
  padding: 25px 15px;

  @include vp-1023 {
    min-width: 670px;
    padding-top: 30px;
  }

  @include vp-767 {
    min-width: 270px;
    height: 180px;
  }
}
