.form-submit {
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 15px;

  @include vp-1023 {
    width: 670px;
    justify-content: flex-start;
    padding-left: 0;
    margin-top: 35px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
}

.form-submit__button {
  max-width: 265px;
  min-height: 45px;
  padding: 15px 68px;
  background-color: $color-form-submit-button;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-right: 50px;

  @include vp-1023 {
    margin-right: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 15px;
    min-width: 100%;
  }
}

.form-submit__checkbox {
  position: relative;
  user-select: none;
  align-self: flex-start;
  margin-top: 22px;

  @include vp-1023 {
    margin-top: 10px;
  }
}

.form-submit__checkbox input {
  top: 60%;
  left: 4%;
}

.form-submit__checkbox label {
  position: relative;
  color: $color-additional-white;
  font-size: 14px;
  display: block;
  max-width: 240px;
  padding-left: 26px;
  cursor: pointer;
  line-height: 15px;

  @include hover {
    color: $color-form-submit-button;
  }

  @include vp-767 {
    padding-left: 30px;
  }
}

.form-submit__checkbox label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px $color-additional-white inset;
  left: 0;
  top: 5px;

  @include vp-767 {
    left: 5px;
  }
}

.form-submit__checkbox label:hover::after {
  box-shadow: 0 0 0 1px $color-form-submit-button inset;
}

.form-submit__checkbox input:checked + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite/checked.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  top: 9px;
  left: 3px;

  @include vp-767 {
    left: 8px;
  }
}
