.header__wrapper {
  position: fixed;
  background: linear-gradient($color-default-dark 85%, transparent);
  padding: 30px 350px 35px 350px;
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  z-index: 100;

  a {
    color: $color-default-white;
  }

  @include vp-1919  {
    position: relative;
    padding: 20px 70px 40px 50px;
    justify-content: space-between;
    height: 100px;
  }

  @include vp-769 {
    padding: 10px 35px 20px 25px;
    height: 70px;
  }
}

.sitemap-header {
  position: relative;
}
