.header__wrapper {
  position: fixed;
  background: linear-gradient($color-default-dark 85%, transparent);
  padding: 30px 350px 35px 350px;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 100;

  a {
    color: $color-default-white;
  }

  @include vp-1919 {
    position: relative;
    padding: 40px 70px 25px 50px;
    justify-content: space-between;
  }

  @include vp-769 {
    padding: 20px 35px 15px 25px;
  }
}

.header__logo {
  @include vp-769 {
    padding-top: 5px;

    svg {
      width: 35px;
      height: 35px;
    }
  }
}

.header__button {
  font-size: 14px;
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 3px;
  width: 160px;
  height: 40px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;

  @include hover {
    color: $color-default-blue;
    border: 1px solid $color-default-blue;
  }

  @include vp-1919 {
    display: none;
  }
}
