.social-links {
  max-width: 215px;
  margin-right: 139px;
  flex-direction: column;

  @include vp-1919 {
    min-width: 770px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @include vp-769 {
    min-width: 100%;
    flex-direction: column;
  }
}

.social-links__list {
  display: flex;
  margin-left: 10px;

  @include vp-1919 {
    margin-top: 22px;
    margin-right: 12px;
  }

  @include vp-769 {
    justify-content: center;
    margin-top: 0;
  }
}

.social-links__item {
  &:not(:last-of-type) {
    margin-right: 20px;
  }

  a {
    fill: $color-default-white;

    @include hover {
      fill: $color-default-blue;
    }

    @include hover-focus {
      fill: $color-default-blue;
    }
  }
}
