.user-navigation__list {
  user-select: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 15px;
  margin-right: 150px;
  margin-left: 150px;
  justify-self: center;
  padding-left: 20px;
  width: 479px;

  @include vp-1919 {
    max-width: 550px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 0;
    padding-bottom: 11px;
    width: auto;
  }

  @include vp-769 {
    max-width: 200px;
  }
}

.user-navigation__list li {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  &:not(:last-of-type) {
    margin-right: 120px;
  }

  @include vp-1919 {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

.user-navigation__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  fill: $color-default-blue;

  svg {
    margin-right: 15px;
  }

  @include hover {
    color: $color-default-blue;
  }

  @include vp-1919 {
    padding: 10px;
    justify-content: center;

    svg {
      margin: 0;
    }

    @include hover-focus {
      fill: $color-default-white;
    }
  }
}

.user-navigation__text {
  @include vp-1919 {
    display: none;
  }
}
